In [8]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# NYC schools that have the best math degrees
math_schools_percentage=schools[["average_math","school_name"]]
max_math_score = 800
best_math_schools = math_schools_percentage[math_schools_percentage['average_math'] >= 0.8 * max_math_score]
best_math_schools = best_math_schools.sort_values('average_math', ascending=False)

# Top 10 performing schools based on the combined SAT scores
schools["total_SAT"]=schools["average_math"]+schools["average_reading"]+schools["average_writing"]
sorted_schools=schools.sort_values("total_SAT",ascending=False)
top_10_schools=sorted_schools[["school_name","total_SAT"]].head(10)

# The borough that has the largest standard deviation in the combined SAT score
borough_=schools.groupby("borough")["total_SAT"].agg(["std","count","mean",]).round(2)
largest_std_dev =borough_[borough_["std"]==borough_["std"].max()]
largest_std_dev.rename(columns={"std":"std_SAT"}, inplace=True)
largest_std_dev.rename(columns={"count":"num_schools"}, inplace=True)
largest_std_dev.rename(columns={"mean":"average_SAT"}, inplace=True)

print(top_10_schools)
largest_std_dev

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

           std_SAT  num_schools  average_SAT
borough
Manhattan   230.29           89      1340.13